**Q1**
As a warm up and revision to the last week's content, here is the first problem of the week :
Run a linear regression model for the following dataset :
https://www.kaggle.com/datasets/aungpyaeap/fish-market

and predict the weight for the given values of other variables.
Feel free to change the order of code, this notebook is only meant to act as a help if you're not too familiar with Machine Learning in python

In [13]:
import pandas as pd
import numpy as np 
#import other sklearn libraries for Linear Regression

In [14]:
df=pd.read_csv("Fish.csv")
df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [15]:
df.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [16]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
df["Species"]=label_encoder.fit_transform(df["Species"])
df

     Species  Weight  Length1  Length2  Length3   Height   Width
0          0   242.0     23.2     25.4     30.0  11.5200  4.0200
1          0   290.0     24.0     26.3     31.2  12.4800  4.3056
2          0   340.0     23.9     26.5     31.1  12.3778  4.6961
3          0   363.0     26.3     29.0     33.5  12.7300  4.4555
4          0   430.0     26.5     29.0     34.0  12.4440  5.1340
..       ...     ...      ...      ...      ...      ...     ...
154        5    12.2     11.5     12.2     13.4   2.0904  1.3936
155        5    13.4     11.7     12.4     13.5   2.4300  1.2690
156        5    12.2     12.1     13.0     13.8   2.2770  1.2558
157        5    19.7     13.2     14.3     15.2   2.8728  2.0672
158        5    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [17]:
df_x=df.drop(['Weight'],axis=1)
df_y=df['Weight']

In [37]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df_x,df_y,test_size=0.2,random_state=42)

In [38]:
from sklearn.linear_model import LinearRegression
lreg=LinearRegression()
lreg.fit(x_train,y_train)

LinearRegression()

In [39]:
y_pred=lreg.predict(x_test)

In [40]:
from sklearn.metrics import r2_score
r2_score(y_pred,y_test)

0.8976201428174744

In [22]:
# m, b = np.polyfit(df_x, df_y, 1)
# print("Eq of line is Î²0+Î²1x where \n Î²1->",m,"& Î²0->",b)

In [23]:
#define dependent and independent variables 
#use train_test_split to split the dataset 

#x = 
#y = 

#apply linear regression and predict y_pred using x_test

In [24]:
#compare y_test and y_pred 
#import modules for r2 score and report the following : r2 score, coefficients, intercept